* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .center {
    width: 800px;
    margin: 0 auto;
  }
  
  .container {
    padding: 36px 0px 36px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .reviews {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  
  .error-msg {
    color: red;
    font-size: 32px;
  }